<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
        <nav class="mb-3">
            <a class="text-blue-500" href="/">back to home</a>
        </nav>
        <h1 class="text-3xl tracking-tighter mb-3">All Users</h1>
        <div class="users flex flex-wrap gap-3">
            <div class="user w-52 p-4 bg-zinc-800 rounded-lg">
                <div class="bg-zinc-500 w-full h-48 rounded-lg"></div>
                <h3 class="text-xl tracking-tighter mt-3">Sagar Kumar</h3>
                <h5 class="text-zinc-500">sagarjar213@gmail.com</h5>
                <div class="flex gap-3 mt-4">
                    <a class="text-zinc-400" href="">edit user</a>
                    <a class="text-red-400" href="">delete user</a>
                </div>
            </div>

            <div class="user w-52 p-4 bg-zinc-800 rounded-lg">
                <div class="bg-zinc-500 w-full h-48 rounded-lg"></div>
                <h3 class="text-xl tracking-tighter mt-3">Sagar Kumar</h3>
                <h5 class="text-zinc-500">sagarjar213@gmail.com</h5>
                <div class="flex gap-3 mt-4">
                    <a class="text-zinc-400" href="">edit user</a>
                    <a class="text-red-400" href="">delete user</a>
                </div>
            </div>

            <div class="user w-52 p-4 bg-zinc-800 rounded-lg">
                <div class="bg-zinc-500 w-full h-48 rounded-lg"></div>
                <h3 class="text-xl tracking-tighter mt-3">Sagar Kumar</h3>
                <h5 class="text-zinc-500">sagarjar213@gmail.com</h5>
                <div class="flex gap-3 mt-4">
                    <a class="text-zinc-400" href="">edit user</a>
                    <a class="text-red-400" href="">delete user</a>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html> 